#morning-button {
    font-size: large;
    padding: 60px;
}

#morning-button:hover {
    background-color: ivory; 
}

#seeya-button:hover {
    background-color: ivory;
}

#seeya-button {
    padding: 60px;
    font-size: large;
}